body {

  min-height: 1000px;
  font-family: 'Open Sans', sans-serif;
}

// font-family: 'Open Sans', sans-serif;

.banner_hero_padding {

  padding-bottom: 5rem;
  padding-top: 9rem;
}

.hero_style_text {

font-family: 'Open Sans', sans-serif;

}

.product_name_style {

  align-content: center;
}

.section_spacing {

  margin-top: 8rem;
  margin-bottom: 8rem;
}

.small_container_margin {

  padding-top: 5rem;

}

.header_padding_helper {

  margin-bottom: 3rem;
}


// .product_img_style {
//
//   background-image: url(../img/fluid_logo.svg);
//   background-size: cover;
//   height: 8rem;
//   width: auto;
// }
